<th:block th:fragment="tests">
    <script src="/js/chart.js"></script>
    <script src="/js/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script  src="/js/tests.js"></script>
</th:block>
<th:block th:fragment="add_chart">
    <script src="/js/add-chart.js"></script>
</th:block>
<th:block th:fragment="config">
    <script src="/js/config.js"></script>
</th:block>

<th:block th:fragment="check">
    <script src="/js/chart.js"></script>
    <script src="/js/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="/js/check.js"></script>
</th:block>
