<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1>Keep it simple</h1>
    </div>
    <button class="btn btn-sm btn-light border" id="setConfig">Set</button>
    <div id="config"></div>
    <div th:replace = "/fragments/scripts.html :: config"></div>
</div>
</body>
</html>