<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Metrics - Add Project</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-sm btn-light border" th:href="@{/admin/projects/add}">Add Project</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="projects">
                <div th:each="item: ${items}" class="project" >
                     <a class="" th:href="@{'/projects/' + ${item.id} + '/tests'}" th:text="${item.name}"></a>
                     <a class="btn btn-sm btn-light border" th:href="@{'/projects/' + ${item.id} + '/clone'}">Delete</a>
                </div>
            </div>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>
</body>
</html>