<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Settings</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                  <li><a th:href="@{/admin/connects/add}">Hosts</a></li>
                  <li><a th:href="@{/admin/test-type/add}">TestTypes</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>